doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Contact us - Brand
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
  link(rel='stylesheet' href='assets/fonts/font-awesome.min.css')
  link(rel='stylesheet' href='assets/css/HomeStyle.css')
  link(rel='stylesheet' href='assets/css/Projects-Clean.css')
nav#mainNav.navbar.navbar-light.navbar-expand-lg.fixed-top(style='filter: contrast(100%);background: rgb(33, 37, 41);height: 80;')
  .container
    a.navbar-brand(href='index.html') Home
    button.navbar-toggler(data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item
        li.nav-item
          a.nav-link.text-light(href='/about') About Me
        li.nav-item
          a.nav-link(href='/contact') Contact Me
        li.nav-item
          a.nav-link(href='/water') Water
header.masthead(style='background: url("assets/img/Contact.png") bottom / cover;height: 80vh;')
  .overlay
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        .site-heading(style='filter: brightness(100%) contrast(80%);')
          h1(style='opacity: 1;') Contact Me
          span.subheading Have questions? Something to tell me?
.container
  .row
    .col-md-10.col-lg-8.mx-auto
      p Want to get in touch? Send me an email at kylexu4@g.ucla.edu
      p
        | Send me your name (if applicable) and whatever you would like to tell me and I&apos;ll respond promptly!
      p
        | If you have any suggestions or comments, feel free to email me as well. I&apos;m currently working on a feature to allow comments inside the blog posts.
hr
footer
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-github.fa-stack-1x.fa-inverse
              span
                i.fa.fa-linkedin-square
        p.text-muted.copyright Personal Project By Kyle Xu
script(src='assets/js/jquery.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='assets/js/clean-blog.js')
