doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Water
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
  link(rel='stylesheet' href='assets/fonts/font-awesome.min.css')
  link(rel='stylesheet' href='assets/css/HomeStyle.css')
  link(rel='stylesheet' href='assets/css/Projects-Clean.css')
nav#mainNav.navbar.navbar-light.navbar-expand-lg.fixed-top(style='filter: contrast(100%);background: rgb(33, 37, 41);height: 80;')
  .container
    a.navbar-brand(href='/index') Home
    button.navbar-toggler(data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item
        li.nav-item
          a.nav-link.text-light(href='/about') About Me
        li.nav-item
          a.nav-link(href='/contact') Contact Me
        li.nav-item
          a.nav-link(href='/water') Water
header.masthead(style='background: url("assets/img/waterbowl.png") right / cover no-repeat;height: 80vh;')
  .overlay
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        .post-heading
          h1(style='text-align: center;') This is Water
          h2.subheading(style='text-align: center;') Ideas to live by
          span.meta(style='text-align: center;')
            | Posted by&nbsp;
            a(href='#') Kyle Xu
            | &nbsp;on October 1, 2020
article
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        p
          | &quot;There are these two young fish swimming along and they happen to meet an older fish swimming the other way, who nods at them and says &ldquo;Morning, boys. How&rsquo;s the water?&rdquo; And the two young fish swim on for a bit, and then eventually
          | one of them looks over at the other and goes &ldquo;What the hell is water?&quot;
        p
          | So begins David Foster Wallace&apos;s most emphatic speech concerning what he calls &quot;banal platitudes&quot;, the overstated, even cliche, values and sayings which have a profound influence over our lives. In this, Wallace explains that &ldquo;the
          | most obvious, important realities are often the hardest to see and talk about&quot; eluding to his point down the road.
        p
          | Wallace asserts that for all the things that education and intelligence confer us, the most essential aspect of our intellect is our control over what we think about. Rather than our capacity to think, it is our freedom of thought
          | which Wallace extols in his speech. This type of freedom &ldquo;involves attention and awareness and discipline, and being able truly to care about other people and to sacrifice for them over and over&rdquo;, and is key to leading a meaningful
          | life. He tells these students that the real value of education is &ldquo;awareness of what is so real and essential, so hidden in plain sight all around us, all the time, that we have to keep reminding ourselves over and over: This is
          | water. This is water.&rdquo;
          br
        h2.section-heading The meat of the matter
        p
          | The reality is that we will all spend the majority of our lives thinking about ourselves. Things going on, even inches away from our skin, will go unnoticed. In our conversations, we will use &quot;I&quot; more than any other word in our vocabulary.
          | The thoughts in our head will revolve around ourselves, at no fault of our own and by instinct and by nature. It takes more, some kind of resolve so infinite, so beneficent, so selfless, to point our faculties beyond their default
          | starting point.
        p
          | Wallace&apos;s mantra, &quot;this is water&quot;, doesn&apos;t have an esoteric and metaphorical meaning, it&apos;s a call to action. Pay attention, that&apos;s it. That&apos;s all it means. But it&apos;s simplicity hides the difficulty of this task. It means to have sympathy
          | in your step, not letting your arms hang as you walk through the world but to use them intentionally, as your own. It means to care for those who matter to you, and to extend this to those who don&apos;t yet matter.
        p
          | Beyond all the work, school, and everything in between, Wallace reminds us that the secret to living a meaningful life is something so rudimentary, so obvious, that it surrounds our very being throughout every moment. It is inescapable,
          | just like the water that surrounds the three fish. It is the extraordinarily and simple ability to acknowledge and recognize what is going on around us.
        blockquote.blockquote
          p.mb-0
            | It is about the real value of a real education, which has almost nothing to do with knowledge, and everything to do with simple awareness; awareness of what is so real and essential, so hidden in plain sight all around us, all
            | the time, that we have to keep reminding ourselves over and over: This is water, this is water.
        a(href='#')
        p
          span Placeholder text by&nbsp;
          a(href='http://spaceipsum.com') Space Ipsum
          span &nbsp;Photographs by&nbsp;
          a(href='https://www.flickr.com/photos/nasacommons/') NASA on The Commons
          | .
footer
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-github.fa-stack-1x.fa-inverse
              span
                i.fa.fa-linkedin-square
        p.text-muted.copyright Personal Project By Kyle Xu
script(src='assets/js/jquery.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='assets/js/clean-blog.js')
